@import url("../font.css");

html {
  height: 100%;
  font-size: 16px;
}

body {
  height: 100%;
  max-height: 100%;
}

#__plasmo {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #0A0A10;
}

.container.permission-grant {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.permission-grant .inner-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.permission-grant .permission-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  padding: 40px;
  padding-top: 50px;
  font-size: 14px;
  border: 1px solid #272A37;
}

.permission-grant h1 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.permission-grant .permission-card > p {
  font-size: 1rem;
  margin-top: .5rem;
  margin-bottom: 1rem;
}

.permission-grant .color-white {
  color: #ffffff;
}

.permission-grant .text-color {
  color: #73739d;
}

.permission-grant .buttons {
  width: 100%;
  margin-top: 2rem;
}

.permission-grant .buttons>*+* {
  margin-top: 1rem;
}
