@import url("../font.css");

html {
  font-size: 16px;
}

body {
  background-color: #0A0A10;
  color: white;
  padding-bottom: 50px;
}

#__plasmo {
  height: unset;
}

.permission-request.container {
  width: 90%;
  margin: 100px auto;
  max-width: 628px;
}

.permission-request .inner-container {
  display: flex;
  flex-direction: column;
}

.permission-request h1 {
  font-size: 2rem;
  font-weight: bold;
}

.permission-request h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.permission-request .text-color {
  color: #7C7C97;
}

.permission-request .paragraph {
  font-size: 1rem;
  margin-top: 20px;
  max-width: 500px;
  line-height: 1.3;
}

.permission-request .card-list {
  margin: 1rem 0;
}

.permission-request .card-list>*+* {
  margin-top: 1rem;
}

.permission-request .card {
  padding: 25px 20px;
  border: 1px solid #272A37;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 1rem;
  border-radius: 11px;
}

@media screen and (max-width: 550px) {
  .permission-request .card {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
}

.permission-request .card .icon-circle {
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  background-color: rgba(39, 42, 55, 0.35);
  border: 1px solid #272A37;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.permission-request .card.purple, .permission-request .card.purple .icon-circle {
  border-color: #49277C;
}

.permission-request .card.purple .icon-circle {
  background-color: rgba(51, 27, 87, .4);
}

.permission-request .card .icon-circle > div {
  display: block;
  width: 1rem;
  height: 1rem;
}

.permission-request .card h3 {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  margin-top: 5px;
}

.permission-request .card .paragraph {
  margin-top: 0.5rem;
}

.permission-request .card .center-y {
  display: flex;
  align-items: center;
}

.permission-request .card button {
  padding: 1rem;
  border-radius: 10px;
  border: 0;
  font-size: 1rem;
  font-weight: bold;
  background-color: #222033;
  color: white;
}

.permission-request .card:not(.purple) .icon-circle {
  color: #7C7C97;
}

.permission-request .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #0A0A10 30%, transparent);
  display: flex;
  justify-content: center;
  align-items: center;
}
